$box-shadow-value:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1) !important;
$primary-blue: #1877f2;
$primary-green: #42b72a;
$dark-gray: #606770;
$page-background-color: #F2F3F5;
$hover-overlay-color: #f3f3f5;