$box-shadow-value:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1) !important;
$primary-blue: #1877f2;
$primary-blue-hover: #2271da;
$primary-green: #42b72a;
$dark-gray: #606770;
$light-gray: #f0f2f5;
$popup-button-background: #e8eaeb;
$popup-hover-background: #e0e0e2;
$page-background-color: #F2F3F5;
$gray-icon-color: #5e5e5e;

$gray-hover: rgba(204, 204, 204, 0.2);

:root{
  --primary-blue: #1877f2;
}