@import '../../styles/shared.scss';

.avatar-container{
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
}

.avatar-infomation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}


.avatar-name-label{
  font-weight: 900;
  font-size: 15px;
}

.avatar-name-label::selection{
  color: none;
  background: none;
}

.avatar-date-label::selection{
  color: none;
  background: none;
}

.online-indicator{
  position: absolute;
  background: green;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid $page-background-color;
  display: inline-flex;
  left: 29px;
  top: 27px;
  z-index: 2;
}