@import '../../../styles/shared.scss';

.post-form-wrapper{
  padding: 15px 15px 20px 15px !important;
  width: 100%;

  box-shadow: $box-shadow-value;
}
.post-button{
  margin-top: 30px !important;
  background-color: $primary-blue !important;
  color: white !important;
}

.post-button:hover{
  background-color: $primary-blue-hover  !important;
}